[submodule "external"]
	path = external
	url = https://github.com/sunzhenkai/cmake-external-library.git
[submodule "3rd/vcpkg-base"]
	path = 3rd/vcpkg-base
	url = https://github.com/sunzhenkai/vcpkg-base.git
